  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: var(--light-bg);
        color: var(--dark-text);
    }

     .logo {
        width: 45px;
        height: 45px;
        background-image: url('../img/504411396_122217294290043096_4858769811098219546_n.jpg');
       
        background-position: center;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }